@media only screen and (min-width: 500px) and (max-width: 699px) {
    .Container {
        display: flex;
        flex-direction: column;
      width: 90%;
        justify-content: center;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
    }
  
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 80px;
        margin: 0px;
        padding: 0px;
    
    }
  
    .row-image {
        display: flex;
        align-items: center;
        width: 100%;
       
        background-color: green;
    }
  
    .img {
        
          width: 30%;
          margin-right: 3%;
    }
  
    .h1 {
        font-size: 60%;
    }
  
    .symbol {
          width: 100%;
          text-align: center;
          font-size: 70%;
    }

    .price {
       padding-right: 5%;
    }
  
  .red {
      color: #f00606;
    }
    
    .green {
      color: #11d811;
    }
}